<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1jTeGLXgM_r6z2fxG5qQsXLjhTp1WXqk</string>
	<key>GCM_SENDER_ID</key>
	<string>1049996151316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rwfarchitectureboilerplate</string>
	<key>PROJECT_ID</key>
	<string>rwf-architecture-boiler-plate</string>
	<key>STORAGE_BUCKET</key>
	<string>rwf-architecture-boiler-plate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049996151316:ios:94512d2abbc4daaaa2b501</string>
</dict>
</plist>